:root{
    --font-color: black;
    --primary-color: rgb(235, 249, 255);
    --secondary-color: rgb(249, 190, 112);
    --secondary-color-light: rgb(244, 213, 174);
}

body {   
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


.header {
    background: linear-gradient(to bottom right, rgb(4, 4, 105), white, rgb(200, 8, 8), white,rgb(4, 4, 105));
    /* background: radial-gradient( rgb(4, 4, 105) 20%, white, rgb(200, 8, 8), white,rgb(4, 4, 105)); */
    padding: 2px 24px;
    justify-content: center;
    text-align: center;
}   


h1 {
    color:var(--secondary-color-light);
    text-shadow: 22px 2px 3px rgba(0,0,0,0.7);
    -webkit-text-stroke: 1px var(--secondary-color);
    padding: 5px 20px;
}


.search-bar {
    background-color: var(--primary-color);

}


.search-bar > .form-container > form {
    margin: 0;
    display: grid;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    
    


}

/* #city,
#date, */
button {
    box-shadow: 0 0 5px rgb(3, 124, 122);
    /* 0 0 25px rgb(3, 124, 122); */
    border-radius: 8%;
    border: none;
    background-color: rgb(3, 124, 122);
    color: whitesmoke;
}

button:hover {
    box-shadow: 0 0 5px #03927a,
    0 0 25px rgb(3, 124, 122), 0 0 50px rgb(3, 124, 122),
    0 0 100px rgb(3, 124, 122),0 0 200px rgb(3, 124, 122);
}


